<div class="col-xs-12 col-sm-8 col-md-6">
  <article class="preview" style="background-image: url('http://placehold.it/600x850');">
    <div class="inner">
      <h1>Title of Project Is Two Lines Max</h1>
      <p>Description of project in a on-liner Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo atque dolorum voluptatum nisi cumque possimus, id et natus. Distinctio doloribus est ab maxime, pariatur totam illo tempora incidunt illum harum.</p>
      <a href="{{ site.baseurl }}/work/detail/" class="btn btn-link btn-block">View Project</a>
    </div>
  </article>
</div>