---
layout: default
projects: [
  'reg',
  'reg',
  'reg',
  'reg',

  'reg',
  'reg',
  'wide',

  'reg',
  'reg',
  'reg',
  'reg'
]
---

<section id="overview" class="work">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-6">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate cumque in commodi necessitatibus optio ipsam, officia laudantium quis sint architecto nam minus, cum possimus nostrum ducimus vitae laborum beatae nihil!</p>
      </div>
    </div>
    <div class="row">
      {% for project in page.projects %}
        {% if project == 'reg' %}
          {% include project/preview.html %}
        {% else %}
          {% include project/preview-wide.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>